In [147]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectKBest, chi2, f_classif
from sklearn.preprocessing import LabelEncoder

# About The Data

In [148]:

data = pd.read_csv("bank-additional.csv", delimiter=';')

data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000
mean,40.113620,256.788055,2.537266,960.422190,0.190337,0.084972,93.579704,-40.499102,3.621356,5166.481695
std,10.313362,254.703736,2.568159,191.922786,0.541788,1.563114,0.579349,4.594578,1.733591,73.667904
min,18.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.635000,4963.600000
25%,32.000000,103.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.334000,5099.100000
50%,38.000000,181.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,317.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,88.000000,3643.000000,35.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

# 1.Data Cleaning

In [149]:
column_order = ["age", "job", "marital", "education", "default", "housing", "loan",
                "contact", "month", "day_of_week", "duration", "campaign", "pdays",
                "previous", "poutcome", "emp.var.rate", "cons.price.idx",
                "cons.conf.idx", "euribor3m", "nr.employed", "y"]

# Read the CSV file with the specified column order
bank_additional = pd.read_csv("bank-additional.csv", delimiter=';', names=column_order)

In [150]:
print(bank_additional.shape)

(4120, 21)

In [151]:
print(bank_additional.head())

   age          job  marital    education  default  housing     loan  \
0  age          job  marital    education  default  housing     loan
1   30  blue-collar  married     basic.9y       no      yes       no
2   39     services   single  high.school       no       no       no
3   25     services  married  high.school       no      yes       no
4   38     services  married     basic.9y       no  unknown  unknown

     contact  month  day_of_week  ...  campaign  pdays  previous     poutcome  \
0    contact  month  day_of_week  ...  campaign  pdays  previous     poutcome
1   cellular    may          fri  ...         2    999         0  nonexistent
2  telephone    may          fri  ...         4    999         0  nonexistent
3  telephone    jun          wed  ...         1    999         0  nonexistent
4  telephone    jun          fri  ...         3    999         0  nonexistent

   emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
1          -1.8          92.893          -46.2      1.313       5099.1  no
2           1.1          93.994          -36.4      4.855         5191  no
3           1.4          94.465          -41.8      4.962       5228.1  no
4           1.4          94.465          -41.8      4.959       5228.1  no

[5 rows x 21 columns]

In [152]:
print(data.isnull().sum())

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [153]:
categorical_columns = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']
data[categorical_columns] = data[categorical_columns].astype('category')

In [2]:
reference_column = 'age'
numerical_columns = ['duration', 'campaign', 'pdays', 'previous',
                     'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
                     'euribor3m', 'nr.employed']
fig, axes = plt.subplots(3, 4, figsize=(18, 12))
axes = axes.flatten()

for i, column in enumerate(numerical_columns):
    sns.scatterplot(data=data, x=reference_column, y=column, ax=axes[i], color="purple")
    axes[i].set_title(f'{reference_column} vs {column}', fontsize=12, color='darkblue')
    axes[i].set_xlabel(reference_column, fontsize=10)
    axes[i].set_ylabel(column, fontsize=10)

for j in range(len(numerical_columns), len(axes)):
    fig.delaxes(axes[j])

plt.tight_layout()
plt.show()

NameError: name 'plt' is not defined

In [4]:

numerical_columns = ['duration', 'campaign', 'pdays', 'previous',
                     'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
                     'euribor3m', 'nr.employed']

fig, axes = plt.subplots(3, 4, figsize=(18, 12))
axes = axes.flatten()

for i, column in enumerate(numerical_columns):
    sns.boxplot(
        data=data,
        y=column,
        ax=axes[i],
        boxprops=dict(facecolor="purple", edgecolor="purple"),
        medianprops=dict(color="darkblue", linewidth=2)
    )
    axes[i].set_title(f'Distribution of {column}', fontsize=12, color='darkblue')
    axes[i].set_ylabel(column, fontsize=10)
    axes[i].grid(axis='y', linestyle='--', alpha=0.7)

for j in range(len(numerical_columns), len(axes)):
    fig.delaxes(axes[j])

plt.tight_layout()
plt.show()

NameError: name 'plt' is not defined

In [156]:
# Cap the values in the 'campaign' and 'duration' columns at the 95th percentile
for column in ['campaign', 'duration']:
    threshold = data[column].quantile(0.90)
    data[column] = np.where(data[column] > threshold, threshold, data[column])

# Remove any rows where the 'age' column has values greater than 90
data = data[data['age'] <= 90]

# Display the first few rows of the modified DataFrame to verify changes
print(data.head())

   age          job  marital          education default  housing     loan  \
0   30  blue-collar  married           basic.9y      no      yes       no
1   39     services   single        high.school      no       no       no
2   25     services  married        high.school      no      yes       no
3   38     services  married           basic.9y      no  unknown  unknown
4   47       admin.  married  university.degree      no      yes       no

     contact month day_of_week  ...  campaign  pdays  previous     poutcome  \
0   cellular   may         fri  ...       2.0    999         0  nonexistent
1  telephone   may         fri  ...       4.0    999         0  nonexistent
2  telephone   jun         wed  ...       1.0    999         0  nonexistent
3  telephone   jun         fri  ...       3.0    999         0  nonexistent
4   cellular   nov         mon  ...       1.0    999         0  nonexistent

  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0         -1.8          92.893          -46.2      1.313       5099.1  no
1          1.1          93.994          -36.4      4.855       5191.0  no
2          1.4          94.465          -41.8      4.962       5228.1  no
3          1.4          94.465          -41.8      4.959       5228.1  no
4         -0.1          93.200          -42.0      4.191       5195.8  no

[5 rows x 21 columns]

# 2.Data Preprocessing

In [157]:
scaler = MinMaxScaler()

# List of numerical columns to scale (update as needed)
numerical_cols = ['age', 'duration', 'campaign', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']

# Apply Min-Max Scaling
data[numerical_cols] = scaler.fit_transform(data[numerical_cols])

# Print the first few rows to check the transformed data
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,0.171429,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,0.25,999,0,nonexistent,0.333333,0.269680,0.192469,0.153741,0.512287,no
1,0.300000,services,single,high.school,no,no,no,telephone,may,fri,...,0.75,999,0,nonexistent,0.937500,0.698753,0.602510,0.956916,0.859735,no
2,0.100000,services,married,high.school,no,yes,no,telephone,jun,wed,...,0.00,999,0,nonexistent,1.000000,0.882307,0.376569,0.981179,1.000000,no
3,0.285714,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,0.50,999,0,nonexistent,1.000000,0.882307,0.376569,0.980499,1.000000,no
4,0.414286,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,0.00,999,0,nonexistent,0.687500,0.389322,0.368201,0.806349,0.877883,no

In [125]:
# Convert the 'pdays' column into a binary feature: 0 indicates not contacted (999), and 1 indicates contacted
data['contacted_before'] = data['pdays'].apply(lambda x: 0 if x == 999 else 1)

# Remove the original 'pdays' column from the DataFrame
data.drop('pdays', axis=1, inplace=True)

# Display the first few rows of the new 'contacted_before' column to confirm the changes
print(data[['contacted_before']].head())

   contacted_before
0                 0
1                 0
2                 0
3                 0
4                 0

In [159]:
# Define the list of categorical columns for one-hot encoding
categorical_columns = ['job', 'marital', 'education', 'default', 'housing',
                       'loan', 'contact', 'month', 'day_of_week', 'poutcome']

# Identify the columns that are present in the DataFrame
existing_columns = [col for col in categorical_columns if col in data.columns]

# Display missing columns for troubleshooting
missing_columns = [col for col in categorical_columns if col not in data.columns]
if missing_columns:
    print(f"The following columns are not found in the DataFrame and will be skipped: {missing_columns}")

# Perform one-hot encoding on the available columns
if existing_columns:
    data = pd.get_dummies(data, columns=existing_columns)
    print("One-hot encoding has been successfully completed.")
else:
    print("No valid categorical columns found for one-hot encoding.")

# Display the updated DataFrame structure
print(data.head())

The following columns are not found in the DataFrame and will be skipped: ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']
No valid categorical columns found for one-hot encoding.
        age  duration  campaign  pdays  previous  emp.var.rate  \
0  0.171429  0.893250      0.25    999         0      0.333333
1  0.300000  0.634629      0.75    999         0      0.937500
2  0.100000  0.416361      0.00    999         0      1.000000
3  0.285714  0.031181      0.50    999         0      1.000000
4  0.414286  0.106383      0.00    999         0      0.687500

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed  ... month_oct  \
0        0.269680       0.192469   0.153741     0.512287  ...     False
1        0.698753       0.602510   0.956916     0.859735  ...     False
2        0.882307       0.376569   0.981179     1.000000  ...     False
3        0.882307       0.376569   0.980499     1.000000  ...     False
4        0.389322       0.368201   0.806349     0.877883  ...     False

   month_sep  day_of_week_fri  day_of_week_mon  day_of_week_thu  \
0      False             True            False            False
1      False             True            False            False
2      False            False            False            False
3      False             True            False            False
4      False            False             True            False

   day_of_week_tue  day_of_week_wed  poutcome_failure  poutcome_nonexistent  \
0            False            False             False                  True
1            False            False             False                  True
2            False             True             False                  True
3            False            False             False                  True
4            False            False             False                  True

   poutcome_success
0             False
1             False
2             False
3             False
4             False

[5 rows x 64 columns]

# 3.Feature Selection

In [ ]:
# Define the target column and features
target_column = 'y'
X = data.drop(columns=[target_column])  # Features
y = data[target_column]  # Target

# Apply SelectKBest using ANOVA F-statistic
k_best_anova = SelectKBest(score_func=f_classif, k=10)  # Select top 10 features
X_k_best_anova = k_best_anova.fit_transform(X, y)

# Print selected features and their scores
selected_features_anova = X.columns[k_best_anova.get_support()]
anova_scores = k_best_anova.scores_[k_best_anova.get_support()]
print("Selected features using ANOVA F-statistic:")
for feature, score in zip(selected_features_anova, anova_scores):
    print(f"{feature}: {score:.2f}")

In [ ]:
# Apply SelectKBest using mutual information
k_best_mi = SelectKBest(score_func=mutual_info_classif, k=10)  # Select top 10 features
X_k_best_mi = k_best_mi.fit_transform(X, y)

# Print selected features and their scores
selected_features_mi = X.columns[k_best_mi.get_support()]
mi_scores = k_best_mi.scores_[k_best_mi.get_support()]
print("\nSelected features using mutual information:")
for feature, score in zip(selected_features_mi, mi_scores):
    print(f"{feature}: {score:.2f}")

Important features based on correlation: ['duration', 'previous', 'emp.var.rate', 'euribor3m', 'nr.employed', 'contacted_before', 'contact_cellular', 'contact_telephone', 'month_dec', 'month_mar', 'month_may', 'month_oct', 'month_sep', 'poutcome_nonexistent', 'poutcome_success']

# 4.Model Selection